/* ---- ОБЩЕЕ ОПИСАНИЕ МАКЕТА ---- */

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

/* ---- ОПИСАНИЕ HEADER ---- */

.header  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 92px 51px;
}

/* ---- Левая менюшка ---- */

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 32px;
}

.header__links-list-item {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  text-underline-offset: 3px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  place-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: end;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  text-underline-offset: 2px;
}

/* ---- ОПИСАНИЕ COVER ---- */

.cover {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 757px;
  margin-bottom: 90px; 
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / .6);
}


.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 140px 50px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1.1;
  text-align: left;
}

.aligned-text-letter-spacing {
  letter-spacing: 60px;
}

.aligned-text-center {
  line-height: 1.1;
  text-align: center;  
}

.aligned-text-right {
  display: block;
  margin-right: -30px;
  line-height: 0.9;
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  margin-right: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.description-text {
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.description-text__indent {
  word-spacing: 22px;
}

.description__bet-button {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 12px 32px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.6s;
  cursor: pointer;
}

.description__bet-button:hover { 
  background-color: rgb(109, 179, 183);
}

/* ---- ОПИСАНИЕ LOTS ---- */

.lots {
  width: 100%;
  padding: 90px 50px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;

}

.card-link {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  width: 430px;
  min-height: 450px; 
  padding: 50px 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  list-style-type: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / .6);
}

.card-type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
}

.lots__look-more-link {
  display: block;
  margin: 30px auto 2px 40px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* ---- ОПИСАНИЕ ABOUT ---- */

.about {
  padding: 90px 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-areas:
    "about__logo about__text";
  gap: 25px;
}

.about__logo {
  display: flex;
  place-content: center;
  grid-area: about__logo;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 240px;
  height: 240px;
  margin: 0 95px auto 95px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 100%;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.35;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-area: about__text;
  justify-content: space-between;
  gap: 29px;
  align-self: flex-end;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

/* ---- ОПИСАНИЕ FOOTER ---- */

.footer {
  display: grid;
  grid-template-columns: 240px 149px 240px; /*долго пытался понять как сделать лучше. метод с разделением на фракции не помог, "посмотреть лоты" делится на две строки и все тут.*/
  justify-items: space-between;
  gap: 356px;
  padding: 90px 50px;
}

.footer__menu {
  display: block;
  text-align: center;
}

.footer__menu-list-item {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  text-underline-offset: 3px;
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 240;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  list-style: none;
}

.footer__social-list-item:hover {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(109, 179, 183);
}